body {
  font-size: 16px;
  background: url(https://images.unsplash.com/photo-1528660493888-ab6f4761e036?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=e092fab75729f65747fc0a8be035d8a9)
    no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}

.skip-link {
  left: -100%;
  position: absolute;
}

.skip-link:focus {
  left: 50%;
}

main {
  background: white;
  border-top: 1px solid #162129;
  margin: 0;
  padding: 0;
}

/*
-----------------Navbar--------------
*/

nav {
  top: 0;
  overflow: hidden;
  width: 100%;
  color: white;
  min-height: 60px;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  font-family: "Rubik", sans-serif;
  /* Safari */
  position: sticky;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}

.nav-title {
  display: inline-block;
  font-size: 1.3rem;
  margin-right: auto;
  padding: 0 0 0 20px;
}

.nav-title a {
  color: white;
  text-decoration: none;
  -moz-transition: font-size 0.25s, color 0.25s;
  -o-transition: font-size 0.25s, color 0.25s;
  -webkit-transition: font-size 0.25s, color 0.25s;
  transition: font-size 0.25s, color 0.25s;
}

.nav-title a:hover {
  font-size: 1.5rem;
  color: #162129;
}

.nav-title-dark-bg a:hover {
  font-size: 1.5rem;
  color: white;
}

#nav-link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-link-list * {
  display: inline;
  text-align: center;
  font-size: 1.1rem;
}

.nav-link a {
  color: white;
  text-align: center;
  padding: 2px 10px;
  margin: 0 12px 0 10px;
  text-decoration: none;
  border-left: 1px solid white;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

.nav-link-dark-bg a {
  color: #c2c2c2;
  border-left: 1px solid #c2c2c2;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.nav-link a:hover {
  border-left: 1px solid #162129;
  color: #162129;
}

.nav-link-dark-bg a:hover {
  border-left: 1px solid white;
  color: white;
}

@media (max-width: 765px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-title {
    display: none;
  }
  .nav-link a {
    padding: 2px 12px 2px 12px;
    margin: 0;
    border: none;
  }
  .nav-link-dark-bg a {
    border: none;
  }
  .nav-link a:hover {
    border: none;
  }
  .nav-link-dark-bg a:hover {
    border: none;
  }
}

@media (max-width: 380px) {
  .nav-link a {
    padding: 2px 5px 2px 5px;
  }
}

/*
----------Header: welcome-section----------
*/

#welcome-section {
  font-family: "Rubik", sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
  letter-spacing: 1.3px;
}

#welcome-section h1 {
  color: white;
}

#contact-link {
  text-decoration: none;
  background-color: none;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 15px;
  margin: 10px auto 0 auto;
  -webkit-transition: color 0.25s linear, border 0.3s linear;
  -moz-transition: color 0.25s linear, border 0.3s linear;
  -o-transition: color 0.25s linear, border 0.3s linear;
  transition: color 0.25s linear, border 0.3s linear;
}

#contact-link:hover {
  color: #162129;
  border: 2px solid #162129;
}

.fade-in {
  display: none;
}

/*
----------Section: About----------
*/

#about {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 75px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about h2 {
  font-family: "Rubik", sans-serif;
  border-bottom: solid black;
  border-top: solid black;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
}

#about-div p {
  font-family: "Lora", serif;
  line-height: 1.4;
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: justify;
  padding: 0 20px 0 20px;
}

/*
----------Section: Project/Portfolio----------
*/

#project-top {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23212121' fill-opacity='0.19' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    radial-gradient(#36454f, #212121);
  margin: 0;
  padding: 0;
  height: 150px;
  border-top: 1px solid #162129;
  border-bottom: 1px solid #162129;
}

#projects {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  max-width: 1000px;
}

.project-hr {
  border: 0;
  width: 80%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(54, 69, 79, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#projects h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  border-bottom: solid black;
  border-top: solid black;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  margin: auto;
}

.project-tile-img {
  margin: 0px 30px 0 30px;
  max-width: 350px;
  max-height: 250px;
  object-fit: cover;
  transition-duration: 0.3s;
  border: 2px solid #162129;
  border-radius: 10%;
  box-shadow: -8px 4px 20px 0 rgba(0, 0, 0, 0.3);
}

.project-tile-description {
  font-family: "Lora", serif;
  margin-left: 30px;
  padding: 20px;
  max-width: 400px;
  text-align: left;
}

.project-tile-p {
  font-family: "Lora", serif;
}

#project-bottom {
  background: url(https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&s=5a366bb7541ca3b03708f7c531d94cbf&auto=format&fit=crop&w=1458&q=80)
    no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 150px;
  border-top: 1px solid #162129;
  border-bottom: 1px solid #162129;
}

@media (max-width: 765px) {
  .project-tile {
    flex-direction: column;
    padding: 20px 0px 20px 0px;
  }
  .project-tile-img {
    max-width: 275px;
    max-height: 225px;
    margin: auto;
  }
  .project-tile-description {
    margin: 0;
  }
}

/*
----------Section: Resume----------
*/

#resume-footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23212121' fill-opacity='0.19' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(#212121, #36454f 50%, #212121);
  font-family: "Lora", serif;
  padding: 30px 0px 0px 0px;
}

#resume-div {
  background-color: white;
  padding: 38px 20px 75px 20px;
  max-width: 800px;
  margin: auto;
}

#resume-h2 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  border-top: solid black;
  border-bottom: solid black;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  width: 100px;
  margin: auto;
}

#resume p {
  font-family: "Lora", serif;
  line-height: 1.4;
  font-size: 1.1rem;
}

#degree-sublist {
  list-style-type: none;
  margin-left: 20px;
}

/*
----------Footer: Contact----------
*/

footer {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  border-bottom: solid white;
  border-top: solid white;
  padding: 10px 0 10px 0;
  font-size: 1.5rem;
  margin: 47px 0 30px 0;
}

#contact-div {
  display: flex;
  text-align: center;
  align-items: center;
}

#contact-div-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  max-width: 350px;
}

#personal-photo {
  margin-left: 5px;
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 2px solid #162129;
  border-radius: 100%;
  box-shadow: -8px 4px 20px 0 rgba(0, 0, 0, 0.3);
}

#contact-social-icons {
  display: flex;
  list-style-type: none;
  padding: 5px 0 10px 0;
  margin: 0 0 0 5px;
}

#contact-social-icons * {
  width: 32px;
  height: 32px;
  -webkit-transition: fill 0.3s linear;
  -moz-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

#contact-social-icons *:hover {
  fill: white;
}

#contact-div-right {
  border-left: solid white;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.85rem;
  margin-left: 100px;
  max-width: 375px;
}

#contact-div-right-list {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 15px 20px;
}

#contact-div-right-list * {
  padding: 10px 0 10px 0;
}

.div-right-link {
  color: #c2c2c2;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.div-right-link:hover {
  color: white;
}

footer small {
  font-family: "Lora", serif;
  display: block;
  margin: 40px 0 20px 0;
}

@media (max-width: 765px) {
  #contact-div {
    flex-direction: column;
  }
  #contact-div-left {
    margin: 0px 0px 25px 0px;
  }
  #contact-div-right {
    margin: 0;
  }
}
